<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chi tiết</title>
    <% include ../partials/head %>
</head>

<body>

    <!-- Header-->

    <% include ../partials/header %>

    <!-- Header-->
    <main id="main" class="">
        <div id="detail-content" role="main" class="content-area">
            <section class="section" id="section_1629092814">
                <div class="section-content relative">
                    <div class="col-inner text-center img-project">
                        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1363747068">
                            <div class="img-inner dark">
                                <img width="100%" height="500" src="<%='/upload/project/' +project.Image %>"
                                    class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="row row-small align-middle align-center" id="row-33849410">
                        <div class="col medium-8 small-12 large-6">
                            <div class="col-inner">
                                <div class="container section-title-container mh-title-left-simple"
                                    style="margin-bottom:20px;">
                                    <h3 class="section-title section-title-normal">
                                        <b></b>
                                        <span class="section-title-main"
                                            style="font-size:85%;"><%=project.ProjectName %></span>
                                        <b></b>
                                    </h3>
                                    <h5 class="section-title section-title-normal">
                                        <b></b>
                                        <span class="section-title-main"
                                            style="font-size:85%;"><%=project.Location %></span>
                                        <b></b>
                                    </h5>
                                </h3>
                                <h5 class="section-title section-title-normal">
                                    <b></b>
                                    <span class="section-title-main"
                                        style="font-size:85%;">Giá: <%= formatMoney(project.Price) %> VNĐ</span>
                                    <b></b>
                            </h3>
                            <h5 class="section-title section-title-normal">
                                <b></b>
                                <span class="section-title-main"
                                    style="font-size:85%;">Lượt quan tâm: <%=project.ViewNumber %></span>
                                <b></b>
                            </h5>
                                </div>
                                <p class="mh-font-small"><%=project.Content %></p>
                            </div>
                        </div>
                        <div class="col medium-12 small-12 large-6">
                            <div class="col mh-col-form-contact medium-12 small-12 large-6">
                                <div class="col-inner">
                                    <div class="container section-title-container mh-title-left-simple"
                                        style="margin-top:0px;margin-bottom:10px;">
                                        <h3 class="section-title section-title-normal">
                                            <b></b>
                                            <span class="section-title-main"
                                                style="font-size:120%;color:rgb(0, 0, 0);">Liên hệ với chúng tôi</span>
                                            <b></b>
                                        </h3>
                                    </div>
                                    <p class="mh-font-small mh-color-secondary">Để liên hệ và nhận thiết kế về các dự án
                                        mới nhất vui lòng nhập đầy đủ thông tin dưới đây để Capitalland có thể
                                        hỗ trợ bạn tốt nhất.</p>
                                    <div class="gap-element clearfix"
                                        style="display:block; height:auto; padding-top:20px"></div>
                                    <div role="form" class="wpcf7" id="wpcf7-f136-p21-o1" lang="en-US" dir="ltr">
                                        <div class="screen-reader-response"></div>
                                        <%if (status && status === 'SUCCESS'){%>
                                        <div class="alert alert-success" role="alert">
                                            <%=message%>
                                        </div>
                                        <%}%>

                                            <%if (status && status === 'ERROR'){%>
                                        <div class="alert alert-danger" role="alert">
                                            <%=message%>
                                        </div>
                                        <%}%>
                                        <form action="/project-detail/<%=project.Id%>" method="post">
                                        <div class="mh-flex-row mh-form-2-col">
                                            <label>
                                                <span class="wpcf7-form-control-wrap text-995">
                                                    <input type="text" name="Name" value="" size="40"
                                                        class="form-control" aria-required="true" aria-invalid="false"
                                                        placeholder="Tên của bạn">
                                                </span>
                                            </label>
                                            <br>
                                            <label>
                                                <span class="wpcf7-form-control-wrap text-996">
                                                    <input type="text" required name="Phone" value="" size="40"
                                                        class="form-control" aria-required="true" aria-invalid="false"
                                                        placeholder="Số điện thoại">
                                                </span>
                                            </label>
                                        </div>
                                        <p>
                                            <label>
                                                <span class="wpcf7-form-control-wrap email-424">
                                                    <input type="email" name="Email" required value="" size="40"
                                                        class="form-control" aria-required="true" aria-invalid="false"
                                                        placeholder="Địa chỉ Email">
                                                </span>
                                            </label>
                                            <label>
                                                <span class="wpcf7-form-control-wrap email-424">
                                                    <input type="text" name="Address" value="" size="40"
                                                        class="form-control" aria-required="true" aria-invalid="false"
                                                        placeholder="Địa chỉ ">
                                                </span>
                                            </label>
                                            <br>
                                            <label>
                                                <span class="wpcf7-form-control-wrap textarea-339">
                                                    <textarea name="Message" cols="40" rows="10" class="form-control"
                                                        aria-required="true" aria-invalid="false"
                                                        placeholder="Lời nhắn"></textarea>
                                                </span>
                                            </label>
                                            <br>
                                            <label class="text-left">
                                                <button type="submit"
                                                    class="wpcf7-form-control wpcf7-submit mh-submit">Gửi liên
                                                    hệ</button>
                                            </label>
                                        </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </div>

    </main>

    <% include ../partials/footer %>
</body>

</html>