<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <!-- Header-->

    <% include ../partials/header %>

    <!-- Header-->
    <main id="main" class="">
        <div class="row content-project">
            <% listProject.forEach((project) => { %>
            <div class="col-lg-4">
                <div class="imagenho1">
                    <img src="<%='/upload/project/' +project.Image %>" width="100%" alt="">
                    <h3><%= project.ProjectName %></h3>
                    <p><%= project.Location %></p>
                    <a href="/project-detail/<%= project.Id%>" class="xct">xem chi tiết</a>
                </div>
            </div>
            <% }); %>

            <!-- pagination -->
            <div class="container" style="padding-top: 3em">
                <div class="row">
                    <div class="col-sm-12">
                        <% if(numPages>0) {%>
                        <ul class="pagination">
                            <% for(let i = 1;i <= numPages ;i++) { %>
                            <% if(i==page) {%>
                            <li class="page-item active">
                                <a class="page-link " href="/project?page=<%= i %>"><%= i %></a>
                            </li>
                            <% } else {%>
                            <li class="page-item">
                                <a class="page-link" href="/project?page=<%= i %>"><%= i %></a>
                            </li>
                            <% } %>
                            <% } %>
                        </ul>
                        <% } %>
                    </div>
                </div>
            </div>

        </div>

    </main>

    <% include ../partials/footer %>
</body>

</html>